<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid collapse navbar-collapse">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li routerLinkActive="active">
                <a routerLink="books">Books</a>
            </li>
        </ul>
        <ul class="nav justify-content-end">
            <li class="nav-item" routerLinkActive="active" *ngIf="!isAuth">
                <a class="nav-link" routerLink="auth/signup">SignUp</a>
            </li>
            <li class="nav-item" routerLinkActive="active" *ngIf="!isAuth">
                <a class="nav-link" routerLink="auth/signin">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="onSignOut()" *ngIf="isAuth" >Login Out</a>
            </li>
        </ul>
    </div>
</nav>